:root {
  --padding: 20px;
}

#navBanner {
  position: sticky;
  top: 0;
  width: 2000px;
  margin: 0 auto;
}

main {
  height: auto;
  background-color: white;
  background-image: none;
}

#articleContainer {
  width: 1000px;
  margin: 0 auto;
  min-height: 1000px;
}

#articleHeader {
  padding: 3vw 0;
}

#articleTitle {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  font-family: var(--fontHeader);
  font-weight: 300;
}

hr {
  border-top: 1px solid #ee2147;
  width: 4vw;
}

#articleDate {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
  font-family: var(--fontText);
  font-weight: 200;
  color: gray;
}

#articleBody {
  text-align: justify;
}

#articleBody p {
  padding: 0 0 var(--padding) 0;
  margin: 0;
  font-size: 1.3rem;
  font-family: var(--fontText);
  font-weight: 300;
  line-height: 1.5;
}

#articleBody img {
  max-width: 100%;
  padding: 0 0 var(--padding) 0;
}

#articleBody .grid {
  padding: 0 0 var(--padding) 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 17px;
}

iframe {
  padding: 0 0 var(--padding) 0;
}

.grid div {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid div img {
  padding: 0 !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.divImgWrap {
  vertical-align: middle;
  display: inline-block;
}
.divImgWrap img {
  width: 150px;
  float: right;
  padding: 5px 0 0 var(--padding) !important;
}

.divImgWrap p {
  text-align: justify;
}

.link {
  color: #ee2147;

  text-align: center;
}
.link:hover {
  font-weight: 600 !important;
}

/*NEXT/PREVIOUS LINKS*/

#nextAndPrevious {
  padding: var(--padding);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}
.leftNP,
.rightNP {
  display: flex;
  padding: 0;
}

.leftNP {
  flex-direction: row;
}
.rightNP {
  flex-direction: row-reverse;
}
.tinyPolaroid {
  height: 100px;
  width: 100px;
  background-color: white;
  border: rgba(121, 121, 121, 0.5) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.photoNP {
  height: 66px;
  background-color: black;
  width: 88px;
  margin: 6px;
}

.photoNP > img {
  width: 100%;
}
.aNP {
  cursor: unset;
  transition: transform 3s linear 0s;
}
.textNP {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textNP > p {
  color: black;
  font-weight: 400;
  margin: 0;
}
#textNext > p {
  text-align: end;
}

#textPrevious > p {
  text-align: start;
}
#textNext > span,
#textPrevious > span {
  display: flex;
}

#textNext > span {
  flex-direction: row-reverse;
  justify-content: right;
}
#textPrevious > span {
  flex-direction: row;
  justify-content: left;
}
.NPtag,
.NPtitle,
.NPdate {
  margin: 0;
  color: black;
  font-weight: 400;
}

.NPtag {
  font-size: 16px;
  font-family: var(--fontText);
  font-weight: 600;
  text-align: center;
  color: rgb(71, 70, 70);
  margin: 0;
}

.NPtitle {
  font-size: 20px;
  font-family: var(--fontHeader);
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
  margin: 0;
}
.NPdate {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 300;
  text-align: center;
  color: rgb(71, 70, 70);
  margin: 0;
}

.hoverNP.NPtag {
  color: #ee2147;
}

.hiddenArrow {
  color: #ee2147;
  visibility: hidden;
  width: 0;
}

.notSoHiddenArrow {
  visibility: visible;
  width: auto;
}

.spacerDiv {
  width: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#floatingPolaroid {
  width: 100px;
  height: 100px;
  background-color: #ee2147;
  position: absolute;
}
